.register-block{
    background:#f4f6f9;
    float:left;
    width:100%;
    padding : 50px 0;
}

.container{background:#faf8f8; border-radius: 10px; width: 40%; height: 40%;}
.register-sec{padding: 50px 30px; position:relative;}
.register-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color:#233e74;}
.register-sec h2:after{content:" "; width:100px; height:5px; background:#000000; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #0069c0; color:#fff; font-weight:600;}